<div *ngIf="question" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #modal="bs-modal" class="modal fade"
     tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title pull-left" [innerHtml]="question.title"></h6>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div [innerHTML]="body"></div>
        <hr>
        <div class="text-center">
          <a href="{{ question.link }}" target="_blank">View original</a>
        </div>
      </div>
    </div>
  </div>
</div>
