<soq-infinite-scroll
  [page]="page$ | async"
  [disable]="!(hasMore$ | async)"
  [allowLoad]="!(loading$ | async)"
  (loadNextPage)="loadNextPage($event)">

  <soq-questions-table
    [questions]="questions$ | async"
    (showModal)="showModal($event)"></soq-questions-table>

</soq-infinite-scroll>

<soq-error-alert [error]="error$ | async"></soq-error-alert>

<soq-loading-indicator [loading]="loading$ | async"></soq-loading-indicator>

<soq-question-detail-modal
  [question]="questionDetail$ | async"
  (onHide)="deselect($event)"></soq-question-detail-modal>
