<nav class="navbar fixed-top navbar-light bg-faded">
  <h1 class="navbar-brand mb-0">SO Questions</h1>
</nav>
<div class="container py-3 mt-5">
  <div class="row">
    <div class="col">
      <soq-questions></soq-questions>
    </div>
  </div>
</div>
