<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Owner</th>
      <th>Title</th>
      <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let question of questions" (click)="onClick($event, question.question_id)">
      <td class="owner text-truncate"
          title="{{ question?.owner?.display_name }}"
          [innerHTML]="question?.owner?.display_name">
      </td>
      <td>
        <div [innerHtml]="question?.title"></div>
      </td>
      <td class="date">
        {{ question?.creation_date * 1000 | date }}
        {{ question?.creation_date * 1000 | date:'shortTime' }}
      </td>
    </tr>
    </tbody>
  </table>
</div>
